$blue: #5C8EE6;
$blue-dark: #2e5392;
$grey: #828A99;
$grey-second: #292D33;
$border: #EBEBF033;
$border-second: #EBEBF0;
$border-third: #E4E4EB;
$white: #ffffff;
$black: #000000;
$blue-light:  #F0F2F5;

$desktop-width: 1024px;

%styles-page-description {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $blue-light;

  @media (min-width: $desktop-width) {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}