$blue: #5C8EE6;
$blue-dark: #2e5392;
$grey: #828A99;
$grey-second: #292D33;
$border: #EBEBF033;
$border-second: #EBEBF0;
$border-third: #E4E4EB;
$white: #ffffff;
$black: #000000;
$blue-light:  #F0F2F5;

$desktop-width: 1024px;

%styles-page-description {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $blue-light;

  @media (min-width: $desktop-width) {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}
%styles-decoration {
  display: inline-block;
  width: 29.6%;
  height: 2px;
  background-color: $blue;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    width: 150px;
    margin-bottom: 30px;
  }
}
%styles-title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: $grey-second;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media (min-width: $desktop-width) {
    font-size: 60px;
  }
}