.products {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
}

.products__title {
  @extend %styles-title;
}

.products__decoration {
  @extend %styles-decoration;
}

.products__item {
  display: flex;
  align-items: center;
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.products__p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: $grey-second;
}

.products__img {
  margin-right: 20px;
}

.products__block-flex {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.products__link {
  width: 49%;
  border: 0.5px solid $border-second;
  padding: 30px;

  &:hover .products__logo {
    background-image: url(../image/Burger-King-logo-2.png);
  }
}

.prosucts__mobile {
  display: none;
}

.products__logo {
  background-image: url(../image/Burger-King-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .products {
    padding-right: 12.5%;
    padding-left: 12.5%;
    padding-bottom: 150px;
    display: flex;
  }

  .products__title {
    font-size: 50px;
    margin-bottom: 38px;
  }

  .prosucts__mobile {
    display: block;
  }

  .products__link {
    width: 33%;
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .products__logo {
    width: 70px;
    height: 70px;
  }

  .products__block {
    width: 50%;
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
  }

  .products__item {
    width: 50%;
  }

  .products__p {
    font-size: 16px;
  }
}